* {
    margin: 0;
    padding: 0;
    background: rgb(34, 34, 34);
}

.title {
    background: red;
    text-align: center;
}

.diasúteis {
    background: red;
}

.finaisdesemana {
    background: red;
}